@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Newake';

    src: url('./assets/Newake.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}




